.why-act {
  padding: 0 16px;

  &__title {
    margin-block-end: 12px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
    div {
      display: inline-block;
    }
  }

  .testimonial-list {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin: 0 -10px 32px -10px;
  }
}
