.share-action {
  font-size: 14px;
  line-height: 16px;
  padding: 28px 24px;
  background-color: #D5D5D530;
  margin: 0 -16px;
  color: black;
  

  &__title {
    margin-block-end: 16px;
    margin-block-start: 0;
  }

  &__subtitle {
    color: #535353;
    margin-bottom: 12px;
  }

  &__input.MuiFormControl-root.MuiTextField-root {
    width: 100%;
    margin-bottom: 14px;

    input {
      font-size: 14px;
    }
  }

  &__preview > img:not(:last-child) {
    margin-right: 12px;
    max-height: 104px;
  }

  &__upload {
    margin-bottom: 14px;

    label {
      cursor: pointer;

      img {
        width: 16px;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }
}