.victim-story {
  padding-bottom: 16px;
  border-bottom: 1px solid #C4C4C4;

  &:not(:first-child) {
    padding-top: 22px;
  }

  &__title, &__description {
    font-size: 14px;
    line-height: 16px;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: bold;
  }

  &__description {
    position: relative;
    margin-bottom: 8px;

    .MuiButtonBase-root.m-button {
      padding: 0;
      font-size: 12px;
      margin-top: 8px;

      .MuiButton-iconSizeMedium {
        margin-left: 4px;

        *:first-child {
          font-size: 16px;
        }
      } 
    }
  }
}