.newsletter {
  margin-bottom: 40px;

  &__title {
    margin-block-end: 12px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
  }

  &__email.MuiTextField-root {
    width: 100%;
    margin-bottom: 14px;
  }

  .m-button.MuiButton-outlinedPrimary {
    border: 1px solid #3864F9;
  }
}
