.home {
  padding: 0 16px;

  &__banner {
    background: url('./home.png') center;
    margin: 0 -16px;
    padding: 33px 16px 0 16px;
    width: 100vw;
    height: 546px;
    white-space: nowrap;
    overflow: hidden;

    &__title, .title2-color {
      color: #E2963E;
    }

    &__title, &__title2 {
      font-weight: bold;
      letter-spacing: -0.3px;
    }

    &__title {
      font-size: 32px;
      line-height: 32px;
      margin-top: 58px;
    }

    &__title2 {
      font-size: 24px;
      margin-bottom: 28px;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 500;
    }

    .share-action-popup {
      margin: 206px 10px 0 0;
      display: inline-block;
      white-space: initial;
    }

    a {
      text-decoration: none;
    }
  }

  &__section-title {
    margin: 24px 0 0;
  }

  .action-card-list {
    .action-card {
      margin-top: 18px;
      width: 100%;
    }
  }
}
