.home {
  padding: 0 16px;

  &__banner {
    background: url('./home.png') center;
    margin: 0 -16px;
    padding: 33px 16px 0 16px;
    height: 256px;
    color: white;
    white-space: nowrap;
    overflow: hidden;

    &__title, .title2-color {
      color: #E2963E;
    }

    &__title, &__title2 {
      font-weight: bold;
      letter-spacing: -0.3px;
    }

    &__title {
      font-size: 32px;
      line-height: 32px;
    }

    &__title2 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    &__subtitle {
      font-size: 14px;
    }

    .share-action-popup {
      margin-top: 46px;
    }
  }

  &__section-title {
    margin: 24px 0 0;
  }

  .action-card-list {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin: 0 -10px 32px -10px;
  }

  .questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;

    img {
      width: 100%;
    }

    img:not(:last-child), &__link:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
