.home {
  padding: 0 16px;

  .subheading {
    margin-bottom: -1px;
    letter-spacing: -0.3px;
  }

  .share-action-popup {
    margin: 16px 0 32px 0;
  }

  .action-card-list {
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin: 0 -10px 32px -10px;
  }

  .questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;

    img:not(:last-child), &__link:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
