.about {
  padding: 0 16px;

  &__title {
    margin-block-end: 12px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
    div {
      display: inline-block;
    }
  }

  &__banner {
    background-image: url("./banner.svg");
    background-repeat: repeat-x;
    height: 140px;
    margin: 0 -16px;
  }

  &__mission-image {
    text-align: center;
    margin: 22px 0 50px 0;

    img {
      width: 70%;
    }
  }
}
