.action-list-item {
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 16px;

  &__name {
    text-transform: capitalize;
    color: #535353;
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__actionables {
    margin-bottom: 16px;

    &__vote {
      color: #3864F9;
      display: flex;
      align-items: center;
    }

    img {
      width: 16px;
      margin-right: 6px;
    }
  }
}
