.testimonial-card {
  position: relative;
  padding: 14px;
  display: inline-flex;
  -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 16px;
  width: 256px;
  height: 213px;;
  white-space: normal;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &__user {
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 28px);
  }

  &__content {
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 135px;
  }
}