.footer {
  padding: 16px 16px 20px 16px;
  background-color: #878787;
  color: white;

  &__logo {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 14px;
  }

  &__share {
    margin-bottom: 24px;

    button:not(:last-child) {
      margin-right: 16px;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__copyright {
    font-size: 14px;
  }
}