@import '../../styles/mixins';

.navbar {
  .nav {
    background-color: #E2963E;
    padding: 8px 16px;
    position: relative;
    overflow: hidden;

    &__menu {
      position: absolute;
      right: 16px;
      width: 24px;
      height: 24px;
      top: 7px;
    }
  }

  &__directory {
    position: absolute;
    height: calc(100vh - 37px);
    top: 37px;
    padding: 8px 0 0 16px;
    background-color: #E2963E;
    width: 100vw;

    &__link {
      text-decoration: none;
      color: white;

      h2, div {
        width: fit-content;
        animation: slide .2s ease-in-out;
      }

      div {
        font-weight: 700;
        font-size: 14px;
        margin-top: 30px;
      }

      &:last-child > div {
        margin-top: 12px;
      }
    }

    @for $i from 1 through 10 {
      .navbar__directory__link:nth-child(#{$i}) {
        h2, div {
          animation-duration: #{$i * .05 + .1}s;
        }
      }
    }
  }
}
